<div id="nav-wrapper" data-ng-controller="NavCtrl">
    <ul id="nav" class="nav-bar" data-slim-scroll>
		<li class="header"><img src="images/logo_banner_white.svg"></li>
        <li ng-class="{'active': nav_id=='home' }">
            <a ng-href="#/home"><i class="icon-home"></i><span>{{cur_home.home_name | home_label}}</span></a>
        </li>
        <chat-rooms class="rooms" ng-if="loaded"></chat-rooms>
        <li class="dummy"></li>
    </ul>
    <ul class="nav-bar footer">
    <!--
        <li class="unread_hint" ng-show="exist_unreads()">
            <a href="javascript:;" ng-click="show_unreads()"><span>未読があります↓</span> </a>
        </li>
    -->
        <li class="my-avartar" ng-class="{'active': nav_id=='settings'}">
            <div class="info">
                <a href="javascript:;" ng-show="alerts.length > 0" ng-click="showAlerts()" class="alert">
                    <i class="icon icon-info"></i>
                    <span class="badge badge-danger">{{alerts.length}}</span>
                </a>
            </div>
            <a href="#/settings">
                <img alt="" ng-src="{{session.avartar}}" class="avartar">
                <span>{{session.user_name}} <small>さんのプロフィール</small></span> 
            </a>
        </li>
        <li class="settings" ng-class="{'active': nav_id=='task_star' }">
            <a href="#/task/star"> <i class="fa fa-star-o"></i><span>スター付きタスク</span> </a>
        </li>
        <li>
            <a href="javascript:;" ng-click="selectLogout()"> <i class="icon-logout"></i><span>ログアウト</span> </a>
        </li>
        <li class="search-wrapper">
            <form id="search_bar" ng-submit="search()" novalidate>
                <div class="input-group">
                    <input type="text" class="search-input form-control" required ng-model="search_string" maxlength="50" placeholder="検索..." enter-submit="search()" esc="exitSearch()" ng-change="changeSearch()">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="search()"><i class="icon-magnifier"></i></button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>