<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span></button>
    <h4 class="modal-title" id="myModalLabel">チャットルームへの招待</h4>
</div>
<div class="modal-body">
    <ul class="dialog-list">
        <li data-ng-repeat="user in users | filter:search_string track by user.user_id" data-ng-class="{'selected': user.selected}">
            <a href="javascript:;" ng-click="selectUser(user)">
                <img alt="" ng-src="{{user.avartar}}" class="avartar avartar-primary img30_30">
                <span tooltip-placement="right" tooltip="依頼金額累計：{{user.deliver_amount}}円" tooltip-append-to-body="true">{{user.user_name}} <small>{{user.login_id}}</small></span>
            </a>
        </li>
        <li ng-show="(users|filter:search_string).length == 0">
            グループのメンバー以外にチャットルームを共有する場合は、メールアドレスやユーザーIDを入力し、「共有」ボタンを押してください。
        </li>
    </ul>
</div>
<div class="modal-footer">
    <form id="search_form" novalidate>
        <div class="input-group pull-left" style="max-width:400px">
            <input id="txt_mm_search_string" type="text" class="form-control" required ng-model="search_string" placeholder="メールアドレスやユーザー名、ユーザーIDを入力" maxlength="50" auto-focus="true">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-primary" ng-click="invite()">共有</button>
</div>