<div class="page-signin">
    <div class="main-body" data-ng-controller="qrHomeCtrl">
	    <div class="container">
	        <div class="form-container">
				<div class="row">
					<div class="col-xs-12">
						<header class="logo">
							<img src="images/logo_banner.svg?v=1.1.3"/>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<a href="https://geo.itunes.apple.com/jp/app/handokuraudo-duan-qurigayokunarugurupuchatto/id1063031600?mt=8">
							<img src="http://linkmaker.itunes.apple.com/images/badges/ja-jp/badge_appstore-lrg.svg" style="width:100%">
						</a>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<a href="http://play.google.com/store/apps/details?id=com.reflux.HandCrowd">
							<img src="http://steverichey.github.io/google-play-badge-svg/img/ja_get.svg" style="width:100%">
						</a>
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>