<form id="form_sel_priv" class="form-horizontal form-validation">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span></button>
      <h4 class="modal-title" id="myModalLabel">権限選択</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <dd class="radio-group">
                <label class="ui-radio">
                    <input type="radio" name="priv" ng-model="priv" value="0"><span> ゲスト</span>
                </label>
                <label class="ui-radio">
                    <input type="radio" name="priv" ng-model="priv" value="1"><span> メンバー</span>
                </label>
                <label class="ui-radio">
                    <input type="radio" name="priv" ng-model="priv" value="2"><span> ルーム管理者</span>
                </label>
                <label class="ui-radio">
                    <input type="radio" name="priv" ng-model="priv" value="3"><span> グループ管理者</span>
                </label>
            </dd>
        </div>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        <button type="submit" class="btn btn-primary" ng-click="ok()">選択</button>
    </div>
</form>