<form name="form_home_invite" id="form_home_invite" class="form-horizontal form-validation" data-ng-submit="submitForm()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span></button>
        <h4 class="modal-title" id="myModalLabel">グループへの招待</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <p>招待先メールアドレスやユーザーIDと内容を入力してください。</p>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <span class="icon-left icon-envelope"></span>
                <input id="invite_email" type="text" class="form-control" required ng-model="req.email" placeholder="メールアドレスやユーザーIDを入力" auto-focus="true" ng-blur="onChange()">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" ng-model="req.content" placeholder="内容を入力してください。" rows=10></textarea>
            </div>
        </div>
    <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <div class="input-group pull-left">
            <button type="button" class="btn btn-default" ng-click="showInviteQR()"><img class="qr-code" ng-src="images/qr.png"> 招待QRコード</button>
        </div>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        <button id="btn_invite_member_ok" type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="!canSubmit()">招待</button>
    </div>
</form>