<ion-view id="messageView" cache-view="false">
    <ion-nav-title>
        {{cur_mission.mission_name}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios-more" ng-click="showOthers($event)"></button>
    </ion-nav-buttons>
    <div id="loader">
        <div>
            <div class="hc-loader">Loading...</div>
        </div>
    </div>
    <ion-content id="chat_view" has-bouncing="true" class="has-header transparent"
      delegate-handle="userMessageScroll" on-scroll-complete="onScrollComplete()">
      <div id="messages"></div>
    </ion-content>

    <div id="emoticon_gallery" style="visibility: hidden;">
        <ul class="emoticonGallery clearfix">
            <li ng-repeat="em in emoticons" class="emoticon {{em.class}}" title="{{em.title}} {{em.alt}}" alt={{e.alt}} ng-click="add_emoticon(em.emoticon_id, em.alt)" style="background-image: url({{em.image}})"></li>
            <li class="emoticon icon-plus" ui-sref=".emoticon_add({mission_id:mission_id})"></li>
        </ul>         
    </div>

    <div id="to_users" style="visibility: hidden;">
        <label class="search-bar item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" class="form-control" ng-model="search_user" maxlength="50" placeholder="検索...">
        </label>
        <ul class="user-list">
            <li data-ng-repeat="member in cur_mission.members | filter:{user_name:search_user}" ng-click="to_message(member)" ng-if="member.user_id!=session.user_id">
                <img ng-src="{{member.avartar}}" class="avartar img30_30">
                {{member.user_name}}
            </li>
            <li ng-click="to_message()"><img ng-src="{{all_avartar}}" class="avartar img30_30"> 全員</li>
        </ul>
    </div>

    <div class="chat-send-files" id="file_bar">
        <div class="chat-send-file" ng-repeat="file in files">
            <div class="file-info">
                {{file.name}}({{file.fileSize}}M)
            </div>
            <button class="button button-icon button-small icon ion-close-round pull-right" ng-click="onCancelUpload(file)"></button>
            <div class="pbar">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar"
                  aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{file.progress}}%">
                    {{file.progress}}% 
                  </div>
                </div>
            </div>
        </div>
    </div>   

    <form id="input_bar" name="sendMessageForm" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <div class="button-top-bar">
                <button class="button button-icon icon icon-emoticon-smile btn-emoticon" ng-click="showEmoticons($event)">
                </button>
                <button type="button" class="button button-icon btn-to" ng-click="showTo()">TO</button>
                <button class="button button-icon icon icon-paper-clip" multiple="true" ng-file-select="onUploadFiles($files)" id="btn_upload">
                </button>
                <button class="button button-icon icon icon-camera" ng-click="onCapture(false)" ng-if="isAndroid">
                </button>
                <button class="button button-icon icon icon-camcorder" ng-click="onCapture(true)" ng-if="isAndroid">
                </button>
            </div>

            <label class="item-input-wrapper">
                <textarea ng-model="cmsg.content" value="" placeholder="メッセージ" required minlength="1" maxlength="5000" id="chat_ta" chat-input enter-submit="sendMessage()" esc="exitEdit()" ng-change="save_in_storage()" ng-trim="false" rows='1'></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon icon-paper-plane footer-btn" type="submit" ng-click="sendMessage()">
                </button>
            </div>
        </ion-footer-bar>
    </form>

</ion-view>

<script id="chatroom-menu.html" type="text/ng-template">
    <ion-popover-view style="height:390px">
        <ion-content>
            <ion-list>
                <ion-item class="item item-icon-left" ng-click="hideOthers()" ui-sref=".summary({mission_id:mission_id})"><i class="icon icon-notebook"></i>概要</ion-item>
                <ion-item class="item item-icon-left" ng-click="hideOthers()" ui-sref=".task({mission_id:mission_id})"><i class="icon fa fa-check-square-o"></i>タスク</ion-item>
                <ion-item class="item item-icon-left" ng-click="hideOthers()" ui-sref=".process({mission_id:mission_id})"><i class="icon icon-share"></i>プロセス</ion-item>
                <ion-item class="item item-icon-left" ng-click="hideOthers()" ui-sref=".attach({mission_id:mission_id})"><i class="icon icon-paper-clip"></i>添付ファイル</ion-item>
                <ion-item class="item item-icon-left" ng-click="hideOthers()" ui-sref=".edit({mission_id:mission_id})"><i class="icon icon-settings"></i>設定</ion-item>
                <ion-item class="item item-icon-left" ng-click="hideOthers()" ui-sref=".member({mission_id:mission_id})" ng-if="cur_mission.private_flag==1 && canEditMissionMember()"><i class="icon icon-users"></i>メンバー</ion-item>
                <ion-item class="item item-icon-left" ng-click="hideOthers()" ui-sref=".star({mission_id:mission_id})"><i class="icon icon-star"></i>スター付き</ion-item>
            </ion-list>
        </ion-content>
    </ion-popover-view>
</script>